
            <form method="post" action="#">
                <div b-i7a5bvrt2t="" class="control-group">
                    <label b-i7a5bvrt2t="" class="control-label hidden shown-ie8" for="inputUsernameRegister">نام کاربری</label>
                    <div b-i7a5bvrt2t="" class="controls">
                        <input b-i7a5bvrt2t="" type="text" class="input-block-level" id="inputUsernameRegister" placeholder="Username">
                    </div>
                </div>
                <div b-i7a5bvrt2t="" class="control-group">
                    <label b-i7a5bvrt2t="" class="control-label hidden shown-ie8" for="inputEmailRegister">ایمیل</label>
                    <div b-i7a5bvrt2t="" class="controls">
                        <input b-i7a5bvrt2t="" type="email" class="input-block-level" id="inputEmailRegister" placeholder="Email">
                    </div>
                </div>
                <div b-i7a5bvrt2t="" class="control-group">
                    <label b-i7a5bvrt2t="" class="control-label hidden shown-ie8" for="inputPasswordRegister">رمز عبور</label>
                    <div b-i7a5bvrt2t="" class="controls">
                        <input b-i7a5bvrt2t="" type="password" class="input-block-level" id="inputPasswordRegister" placeholder="Password">
                    </div>
                </div>
                <button b-i7a5bvrt2t="" type="submit" class="btn btn-danger input-block-level bold higher">
                    ثبت نام
                </button>
            </form>