@if(ViewBag.IsPay == true)
{
    <div class="alert alert-success">
        عملیات با موفقیت انجام شد
    </div>
}
else
{
    <div class="alert alert-danger">
        عملیات با شکست مواجه شد
    </div>
}